In [2]:
import pandas as pd
df = pd.read_csv("../data/311_manhattan.csv")
print(df.shape)
df.head()

(1000, 7)

,created_date,complaint_type,descriptor,borough,latitude,longitude,street_name
0,2025-10-11T01:36:09.000,Noise - Residential,Loud Music/Party,MANHATTAN,40.823974,-73.950550,WEST 142 STREET
1,2025-10-11T01:35:49.000,Noise - Street/Sidewalk,Loud Music/Party,MANHATTAN,40.819249,-73.952927,WEST 135 STREET
2,2025-10-11T01:34:38.000,Illegal Parking,Blocked Hydrant,MANHATTAN,40.787913,-73.973443,WEST 87 STREET
3,2025-10-11T01:31:24.000,Drinking,In Public,MANHATTAN,40.819249,-73.952927,WEST 135 STREET
4,2025-10-11T01:31:07.000,Noise - Street/Sidewalk,Loud Talking,MANHATTAN,40.724370,-73.975518,AVENUE D